body{
    background-color: #083B4C;
    color:black;
    font-weight: bold;
}
.board-square{
    width: calc(100% / 8);
    aspect-ratio: 1/1;
    display: inline-block;
    border: 5px solid #083B4C
}
.square-input{
    text-align: center;
  
}
.fizz-square{
    background-color:#0CD6A1 ;
}
.buzz-square{
    background-color:#FFD166 ;
}
.no-square{
    background-color:white ;
}
.fizzbuzz-square{
    background-color:#d01fd6 ;
}